<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">

</head>
<body>
<header th:replace="layout/layout :: header" ></header>
<div class="container col-9 contenedor" >
	<h1 class="secondary py-5" th:text="${titulo}"></h1>
	
	<button  class="btn btn-dark fa-solid fa-plus btn mb-5 btn p-3" sec:authorize="hasRole('ROLE_ADMIN')" ><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form_edit}">Crear</a></button>
	
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>alta</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="editorial: ${editoriales}">
			<td th:text="${editorial.id}"></td>
			<td th:text="${editorial.nombre}"></td>
			<td th:text="${editorial.alta}"></td>
			<td><a class="fa-solid fa-pen editar" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form_edit/}+${editorial.id}" ></a></td>
			<td><a class="fa-solid fa-trash borrar" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar_ed/}+${editorial.id}" onclick="return confirm('Esta seguro que desea eliminar?')"></a></td>
			</tr>
		</tbody>
	</table>
	

</div>

	<footer th:replace="layout/layout :: footer"> </footer>
	

</body>
</html>