<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"> </header>
	<br>
	<h1 class="py-5" th:text="${titulo}"></h1>
	<br>
	<div class="container contenedor">

		<!-- 	en th:field van los nombres de los atributos -->

		<form class="formulario" th:action="@{/form_lib}" th:object="${libro}" method="post"
			enctype="multipart/form-data">

			<div class="form-group">
				<label class="col-sm-2 col-form-label">ISBN</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{isbn}" class="form-control"  
						   placeholder="Inserte el isbn"
						   th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></small>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 col-form-label">Titulo</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{titulo}" class="form-control" 
						   placeholder="Inserte el titulo"
						   th:errorclass="'form-control alert-danger'" /> 
						<small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
				</div>

			</div>

			<div class="form-group">
				<label class="col-sm-2 col-form-label">Año</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{anio}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger" th:if="${#fields.hasErrors('anio')}"
						th:errors="*{anio}"></small>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 col-form-label">Ejemplares</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{ejemplares}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('ejemplares')}"
						th:errors="*{ejemplares}"></small>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 col-form-label">Ejemplares Prestados</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{ejemplaresPrestados}"
						class="form-control" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('ejemplaresPrestados')}"
						th:errors="*{ejemplaresPrestados}"></small>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 col-form-label">Ejemplares Restantes</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{ejemplaresRestantes}"
						class="form-control" th:errorclass="'form-control alert-danger'" />
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('ejemplaresRestantes')}"
						th:errors="*{ejemplaresRestantes}"></small>
				</div>
			</div>

			
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Autor</label>
				<div class="col-sm-6">
					<select th:field="*{autor.id}" class="form-control">
					
					<option  th:each="autor:${autores}"
							 th:value="${autor.id}"
							 th:text="${autor.nombre}"
					/>
					<select/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Editorial</label>
				<div class="col-sm-6">
					<select th:field="*{editorial.id}" class="form-control" >
					
					<option  th:each="editorial:${editoriales}"
							 th:value="${editorial.id}"
							 th:text="${editorial.nombre}"
					/>
					<select/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 col-form-label" for="imagen">Imagen:</label>
				<div class="col-sm-6">
					<input type="file" name="file" id="imagen" class="form-control" />
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-6 p-2">
					<input th:if="${libro.titulo == null}" type="submit"
						value="Crear Libro" class="btn btn-secondary" />
				</div>
				<div class="col-sm-6 p-2">
					<input th:if="${libro.titulo!=null}" type="submit"
						value="Actualizar Libro" class="btn btn-secondary" />
				</div>
			</div>

			<input type="hidden" th:field="*{id}" />
		</form>


	</div>


	<footer th:replace="layout/layout :: footer"> </footer>
	
</body>
</html>