<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">

</head>
<body>
<header th:replace="layout/layout :: header" ></header>
<div class="container">
	<h1 class="secondary py-5" th:text="${titulo}"></h1>
	</div>
<div class="container contenedor">

	<div th:each="libro: ${libros}">
    <div class="tarjeta" th:if="${libro.alta == true}">
        <div class="titulo" th:text="${libro.getTitulo}"></div>
        <div class="cuerpo">
          <img class="imagen-libro" th:src="@{'/imagen/' + ${libro.imagen}} ">
        </div>
        <div class="pie">
         <p class="card-text" th:text="${libro.autor.getNombre}"></p>
      <p class="card-text" th:text="${libro.editorial.getNombre}"><small class="text-muted"></small></p>
        </div>
      
      </div>
      </div>
<!-- <div class="card tarjeta" th:each="libro: ${libros}">
    <img class="card-img-top imagen-libro" th:src="@{'/imagen/' + ${libro.imagen}}">
    <div class="card-body">
      <h5 class="card-title" th:text="${libro.titulo}"></h5>
      <p class="card-text" th:text="${libro.autor.getNombre}"></p>
      <p class="card-text" th:text="${libro.editorial.getNombre}"><small class="text-muted"></small></p>
    </div>
  </div> -->

</div>

	<footer th:replace="layout/layout :: footer"> </footer>
	

</body>
</html>