@charset "UTF-8";

.imagen-libro {
	width: 100%;
	height: 360px;
	display: block;
}

.tarjeta {
	margin-top: 10px;
	display: block;
	flex-direction: column;
	justify-content: space-between;
	width: 36vh;
	border: 1px solid lightgray;
	box-shadow: 6px 6px 6px 4px #adaaaad1;
	border-radius: 15px;
	font-family: sans-serif;
	float: left;
	margin-left: 20px;
}

.titulo {
	color: white;
	border-radius: 15px 15px 0 0;
	background: #888a85;
	font-size: 20px;
	text-align: center;
	padding: 10px 10px 0 10px;
}

.cuerpo {
	padding: 0 0 0;
}

.pie {
	background: #edd400;
	border-radius: 0 0 15px 15px;
	padding: 8px;
	text-align: center;
}

.pie a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}